
body {
    font-family: 'Roboto', sans-serif;
    color: #F9FAF8;
    margin: 0;

}

h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
   
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.hero, .section2, .section3, .section4 {
    padding: 50px 15% 110px;
}

.header, .hero {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 15%;
    
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bolder;
    padding: 5px 20px;
    border-radius: 7px;
    margin: auto;
}

/**Styling for Hero Section **/

.hero {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
}

.hero-secondary {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-button {
    border: none;
}

.hero-right {
    flex: auto;
}

.hero-image {
    max-width: 100%;
    height: auto;
}

/** Styling for Information Section **/
.section2 {
    background-color: #F9FAF8;
    color: #1F2937;
}

.display {
   display: flex; 
   justify-content: center;
   flex-wrap: wrap;
   gap: 50px;
}

.display-item {
    display:flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 10px;
}

.display-img {
    max-height: 200px;
    width: auto;
    border-radius: 10px;
}

.section3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic; 
}

.quote-author {
    color: #1F2937;
    font-weight: bold;
    font-size: 25px;
    align-self: flex-end;
}

.quote, .quote-author {
    padding: 0px 60px;
}

.section4 {
    background-color: #F9FAF8;
    color: #1F2937;
}

.CTA {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 20px;
    border-radius: 7px;
    margin: 0px 200px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.CTA-button {
    border-style: solid;
    border-color: #F9FAF8;
}
